<div class="dash">
    <a class="links" id="home" href="/"><img id="homeImage" src="/assets/home.png" alt="Home Image" style="height:120px;width: auto;"></a>
    <a class="links" href="/alarm">Alarm</a>
    <a class="links" href="/chronometer">Chronometer</a>
    <a class="links" href="/timer">Timer</a>
</div>