<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alarm</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="popup-setTime" id="popup" style="display: none;"> 
        <input type="number" name="hours" id="h" min=0 placeholder="Hour">
        <input type="number" name="minutes" id="m" min=0 max=59 placeholder="Minutes">
        <input type="number" name="seconds" id="s" min=0 max=59 placeholder="Seconds">
        <button id="popup-submit">Set</button>
    </div>

    <%- include('partials/dash.ejs') %>

    <div class="wrapper">
        <h1>Alarm</h1>
        <% let time = new Date() %>
        <p id="time"><%= time.getHours() %>:<%= time.getMinutes() %>:<%= time.getSeconds() %></p>
        <button id="set">Set Alarm</button>
        <button id="play">&#9658;</button>
        <button id="cancel" style="display: none">&#8634;</button>
    </div>
    
    <script src="/assets/alarm.js"></script>
</body>
</html>