<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="main">
        <%- include('partials/dash.ejs') %>

        <div class="wrapper">
            <h1>Timer</h1>
            <p id="time">00:00:00</p>
            <button id="set">Set Timer</button>
            <button id="play">&#9658;</button>
            <button id="restart">&#8634;</button>
        </div>    
    </div>

    <div class="popup-setTime" id="popup" style="display: none;">
        <div class="ValInputs">
            <p class="PInp"><input type="number" class="ValInp" name="hours" id="h" min=0 placeholder="Hour">   Hours</p>
            <p class="PInp"><input type="number" class="ValInp" name="minutes" id="m" min=0 max=59 placeholder="Minutes"> Minutes</p>
            <p class="PInp"><input type="number" class="ValInp" name="seconds" id="s" min=0 max=59 placeholder="Seconds"> Seconds</p>
        </div>
        <div class="buttonsPopup">
            <button id="popup-submit">Set</button>
            <button id="close">Cancel</button>
        </div>
    </div>
    
    <script src="/assets/timer.js"></script>
</body>
</html>